<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Arret non trouvé</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        body {
            background-color: rgba(156,222,239,255);
            background-image: url('{{ url_for('static', filename='404notfound.gif') }}');
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        #back-btn {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    </style>
</head>

<body>
    <div class="container">

        <a href="/" class="btn btn-primary" id="back-btn">Retour</a>

    </div>



</body>

</html>